<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661233160183-sbgg42u4r385vcc29u4ok3tdbgkeo2o9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661233160183-sbgg42u4r385vcc29u4ok3tdbgkeo2o9</string>
	<key>API_KEY</key>
	<string>AIzaSyAYl766MNJlZ8ba7iBNPZRByp5hfBRKE14</string>
	<key>GCM_SENDER_ID</key>
	<string>661233160183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codigocorrecto.crudfire</string>
	<key>PROJECT_ID</key>
	<string>crud-firebase-6a25b</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-firebase-6a25b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661233160183:ios:839ef32b2567f61264e8f2</string>
</dict>
</plist>